<h2>Meet Becks</h2>
<p>
    I am Becks, co-hosting Becks And Teds Show with my best friend for the last 40 years. It
    just seemed natural to do this show with Teds. I have a full-time job at a car dealership in
    the accounting office. I love to cook for my boys and use a lot of Pampered Chef products.
    Since I enjoy the Pampered Chef line of products, I decided it would be fun to stream live
    cooking segments that show the versatility of these products. If you are interested in
    purchasing any of the Pampered Chef products I use, please let me know through any of our
    social media sites. You can find links to them on the Social link above. I don’t just cook,
    though! I am learning to paint, and you may just see some of that on the Show!
</p>
<br />
<h2>Meet Teds</h2>
<p>
    I am Teds, co-host of the BecksAndTedsShow. Becks an I have been best friends
    for over 40 years. I work in the accounting office of a dealership (not the
    same as Becks). I enjoy cooking and making new foods. I use a lot of Pampered
    Chef products in my daily cooking, it just seemed natural to stream live cooking
    with Becks. Besides cooking, I enjoy painting and solving mysteries. You may see
    some of this on our live stream, not just cooking!
</p>
