* {
    background: transparent;
}

.bg-image {
    background-image: url("../../assets/images/tdpic.jpg");
    background-size: cover;
}

a {
    color: black;
    font-family: "Pacifico";
    font-size: 2em;
}

.active {
    opacity: .5;
}
