* {
  background: transparent;
}

.bg-image {
  background-image: url("../../assets/images/tdpic.jpg");
  background-size: cover;
}

a {
  color: black;
  font-family: "Pacifico";
  font-size: 2em;
}

.active {
  opacity: 0.5;
}

.nav-link:hover {
  color: rgba(229, 213, 58, 255);
}

.social-link:hover {
  color: rgba(232, 77, 22, 255);
}

.social-spacing {
  padding: 0 3px 0 3px;
}
