<header class="bg-image d-flex flex-wrap align-items-center justify-content-center justify-content-md-around py-3 border-bottom">
    <a routerLink="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img id="nav-logo" src="../../assets/images/BTSLogo_Round.png" alt="Becks And Teds Show Logo" height="150" width="150">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item"><a class="nav-link" routerLinkActive='active' routerLink="/home">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive='active' routerLink="/stream">Stream</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive='active' routerLink="/about">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <a href="https://twitter.com/BecksAndTedsSho"><span class="bi-twitter"></span></a>
        <a href="https://facebook.com/BecksAndTedsShow"><span class="bi-facebook"></span></a>
        <a href="https://instagram.com/BecksAndTedsShow"><span class="bi-instagram"></span></a>
        <a href="https://discord.gg/kRuKwdRdJw"><span class="bi-discord"></span></a>
        <a href="https://www.twitch.tv/becksandtedsshow"><span class="bi-twitch"></span></a>
        <a href="https://www.youtube.com/channel/UCjJgKEsn5JXZsv0haDiGBaA"><span class="bi-youtube"></span></a>
    </div>
</header>
