<header class="bg-image d-flex flex-wrap align-items-center justify-content-center justify-content-md-around py-3 border-bottom">
    <a routerLink="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img id="nav-logo" src="../../assets/images/BTSLogo_Round.png" alt="Becks And Teds Show Logo" height="150" width="150">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item"><a class="nav-link" routerLinkActive='active' routerLink="/home"><span class="bi-house"></span>Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive='active' routerLink="/stream"><span class="bi-broadcast"></span>Stream</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive='active' routerLink="/about"><span class="bi-peace"></span>About</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <a class="social-spacing" href="https://www.twitch.tv/becksandtedsshow"><span class="bi-twitch social-link"></span></a>
        <a class="social-spacing" href="https://discord.gg/kRuKwdRdJw"><span class="bi-discord social-link"></span></a>
        <a class="social-spacing" href="https://twitter.com/BecksAndTedsSho"><span class="bi-twitter social-link"></span></a>
        <a class="social-spacing" href="https://instagram.com/BecksAndTedsShow"><span class="bi-instagram social-link"></span></a>
        <a class="social-spacing" href="https://facebook.com/BecksAndTedsShow"><span class="bi-facebook social-link"></span></a>
        <a class="social-spacing" href="https://www.youtube.com/channel/UCjJgKEsn5JXZsv0haDiGBaA"><span class="bi-youtube social-link"></span></a>
    </div>
</header>
